#root {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header,
.main,
.footer {
    width: 100%;
}

.header {
    max-height: 500px;
}

.main {
    flex-grow: 1;
    background-color: var(--fondo-alternativo);
}

.footer {
    height: 50px;
}
