/* Estilos de la barra superior al navbar */

.navbar-superior {
    background-color: var(--fondo-principal);
    color: var(--texto-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    margin-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid var(--texto-principal);
}

.narbar-izquierda {
    flex: 1;
    font-weight: bold;
}

.navbar-derecha {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.navbar-derecha a {
    color: var(--texto-principal);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

.navbar-derecha a:hover {
    color: var(--varios);
}

@media (max-width: 768px) {
    .navbar-superior {
        flex-direction: column;
        align-items: center;
    }

    .navbar-derecha {
        margin-top: 10px;
    }
}

@media (max-width: 500px) {
    .navbar-superior {
        font-size: 12px;
    }

    .navbar-derecha a {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .navbar-superior {
        font-size: 10px;
    }

    .navbar-derecha a {
        font-size: 10px;
    }
}

/* Logo */

.logo {
    margin-right: auto;
    padding-left: 20px;
}

.logo img {
    max-width: 100px;
    object-fit: contain;
}

/* Estilos del navbar */

.header {
    background: linear-gradient(90deg,
    var(--fondo-principal),
    var(--fondo-alternativo));
    padding-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.menu-toggle {
    display: none;
    font-size: 28px;
    color: var(--texto-principal);
    cursor: pointer;
    margin-right: 20px;
    align-self: center;
}

.navbar-medio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-medio .nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 50px;
}

.nav-item {
    position: relative;
}

/* Enlaces de navegación */
.navbar-medio .nav-link {
    text-decoration: none;
    color: var(--texto-principal);
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: all 0.3s ease;
    position: relative;
}

.navbar-medio .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: var(--varios);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar-medio .nav-link:hover::after {
    width: 100%;
}

.navbar-medio .nav-link:hover {
    color: var(--varios);
}

button {
    background: none;
    border: none;
    color: var(--varios);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.navbar-inferior {
    display: none;
}

@media (max-width: 1000px) {
    .navbar-medio .nav-link {
        font-size: 18px;
        padding: 5px 10px;
    }
}

@media (max-width: 870px) {
    .navbar-medio .nav-link {
        font-size: 16px;
        padding: 5px 10px;
    }
}

@media (max-width: 800px) {
    .navbar-medio .nav-link {
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media (max-width: 768px) {

    .logo img {
        max-width: 80px;
    }

    .menu-toggle {
        display: flex;
    }

    .navbar-medio .nav-list {
        display: none;
    }

    .nav-link {
        text-decoration: none;
        color: var(--texto-principal);
        font-size: 18px;
        font-weight: bold;
        padding: 10px 15px;
        transition: all 0.3s ease;
        position: relative;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        width: 100%;
        padding-top: 5px;
    }

    .nav-list .nav-item {
        width: 90%;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid var(--texto-principal);
        background-color: var(--fondo-principal);
        transition: background-color 0.3s ease;
    }

    .nav-list .nav-item:hover {
        background-color: var(--varios);
    }

    .navbar-inferior.open {
        display: flex;
    }
}

@media (max-width: 500px) {

    .logo img {
        max-width: 50px;
    }

    .nav-link {
        font-size: 16px;
    }
}