/* Paginación */
.paginacion {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.paginacion button {
    padding: 0.4rem 0.8rem;
    border: 1px solid var(--varios);
    background-color: var(--fondo-principal);
    border-radius: 4px;
    color: var(--texto-principal);
}

.paginacion button:hover {
    background-color: var(--fondo-principal);
    cursor: pointer;
}

.paginacion button.activo {
    background-color: var(--texto-alternativo);
    color: var(--fondo-principal);
}