.pedido-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--fondo-principal);
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pedido-titulo {
    text-align: center;
    font-size: 1.8rem;
    color: var(--texto-principal);
    margin-bottom: 1.5rem;
}

.pedido-detalles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detalle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--fondo-alternativo);
    padding: 1rem;
    border-radius: 8px;
    border-left: 5px solid #ccc;
    transition: border-color 0.3s;
    align-items: center;
}


.detalle .enlace {
    text-decoration: none;
    color: var(--texto-principal);
    background-color: var(--varios);
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
    text-align: center;
}

.detalle .enlace:hover {
    background-color: var(--texto-alternativo);
    color: var(--fondo-principal);
}

.detalle:hover {
    border-color: var(--varios);
}

.etiqueta {
    font-weight: bold;
    color: var( --texto-alternativo);
    margin-bottom: 0.3rem;
}

.valor {
    color: var(--texto-principal);
}

/* Estado específico */
.estado.entregado {
    color: green;
    font-weight: bold;
    text-transform: uppercase;
}

.estado.pendiente {
    color: orange;
    font-weight: bold;
    text-transform: uppercase;
}

.estado.cancelado {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .detalle {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.2rem;
    }

    .detalle .enlace {
        align-self: stretch;
        width: 100%;
        text-align: center;
        padding: 0.4rem;
        font-size: 1rem;
    }

    .etiqueta,
    .valor {
        padding: 0.2rem;
        font-size: 0.95rem;
        width: 100%;
    }

    .pedido-detalles {
        gap: 0.8rem;
    }

    .pedido-container {
        margin: 1rem;
        padding: 1rem;
    }

    .pedido-titulo {
        font-size: 1.4rem;
    }

}
