
:root {
    --fondo-principal: #F5F1E6;
    --fondo-alternativo: #D8CBB1;
    --bordes-lineas: #C2B28F;
    --texto-principal: #000000;
    --texto-alternativo: #5C4B3A;
    --varios: #7A8450;
}

.modo-nieve {
    --fondo-principal: #FFFFFF;
    --fondo-alternativo: #F5F5F5;
    --bordes-lineas: #DDDDDD;
    --texto-principal: #1A1A1A;
    --texto-alternativo: #555555;
    --varios: #888888;
}

.modo-oscuro {
    --fondo-principal: #1E1E1E;
    --fondo-alternativo: #2C2C2C;
    --bordes-lineas: #444444;
    --texto-principal: #FFFFFF;
    --texto-alternativo: #BBBBBB;
    --varios: #888888;
}

.modo-bosque {
    --fondo-principal: #3B4A3F;
    --fondo-alternativo: #5C6844;
    --bordes-lineas: #CFB496;
    --texto-principal: #FFFFFF;
    --texto-alternativo: #CCCCCC;
    --varios: #C2B28F;
}

* {
    transition: background-color 0.5s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease,
    background-image 0.5s ease;
}
